@charset "utf-8";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
    padding: 0;
    text-decoration: none;
    font-family: "Pretendard-Regular", "GongGothicMedium", "ONE-Mobile-POP", San-serif",
      "Arial";
    -webkit-user-select: none;	
    -ms-use-select: none;
  }
  
  ul {
    list-style: none;
  }

  
body {
    font-family: "Pretendard-Regular";
  }

  
#inner {
    width: 600px;
    height: 850px;
    margin: 0 auto;
  }

img {
    margin-top: 80px;
    margin-left: 143px;
    padding-bottom: 15px;
  }

  h1 {
    font-size: 44px;
    color: salmon;
    display: inline-block;
    margin-left: 10px;
  }

  p {
    font-size: 16px;
    color: grey;
    display: inline-block;
  }
  
  h3 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: rgb(70, 70, 70);
   	line-height: 30px;
  }
  
  label {
  color: salmon;
  }
  
    #findId{
    width: 350px;
    height: 290px;
    background-color: rgb(255, 247, 237);
    border: none;
    border-radius: 25px;
    padding: 36px 140px 0 140px;
  }

 .name, .email {
    display: inline-block;
    padding: 10px 10px 10px 13px;
    font-size: 16px;
    width: 326px;
    height: 30px;
    border: 1px solid rgb(160, 160, 160);
  }

  .name{
    border-bottom: 0px solid rgb(160, 160, 160);	
    border-radius: 8px 8px 0 0;
  }


  .email{
    border-top: 1px solid rgb(160, 160, 160);
    border-radius: 0 0  8px 8px ;
  }

  .name:focus  {
    outline: none;
    border: 1.5px solid rgb(250, 71, 48);
    border-radius: 8px 8px 0 0;
  }
 

  .email:focus  {
    outline: none;
    border: 1.5px solid rgb(250, 71, 48);
    border-radius: 0 0  8px 8px ;
  }


 
 .findId  {
    background-color: salmon;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 350px;
    height: 54px;
  }
  
   .findpwd  {
    background-color: salmon;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 350px;
    height: 54px;
  }
  
  .findId a, .findpwd a {
  color: white;
  }
  
  .findId a:visited, .findpwd a:visited {
  color: white;
  }

  
.findId:hover {
    background-color:#ff523e;}	
    
 .cancel, .login  {
    background-color: salmon;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
	margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 350px;
    height: 54px;
  }

  
.cancel:hover, .login:hover{
    background-color:#ff523e;
    }

  .login a {
  color: white;
  }
  
  .login a:visited {
  color: white;
  }

  

 .pwdInit {
    background-color: salmon;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 350px;
    height: 54px;
  }

  
  .pwdInit:hover {
    background-color:#ff523e;}

  .companyInfo {
    display: inline-block;
    width: 630px;
    margin: 0 auto;
    font-size: 14px;
    color: rgb(109, 109, 109);
    text-align: center;
    margin-top: 50px;
  }	