@charset "UTF-8";


@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTTtangsbudaejjigaeB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  font-family: "Pretendard-Regular", "GongGothicMedium", "ONE-Mobile-POP", San-serif",
    "Arial";
  -webkit-user-select: none;
  -ms-use-select: none;
}

ul {
  list-style: none;
}

table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

body {
  font-family: "Pretendard-Regular";
}

::-webkit-scrollbar {
	display: none;
} 	

nav {
  width: 1920px;
  height: 100px;
  z-index: 12010;	
  position: fixed;
}

#topMenu {
  width: 100%;
  height: 100px;
  background-color: white;
  padding-left: 60px;
}

.logo {
  display: flex;
  margin-top: 12px;
  float: left;
}

#topMenu h1 {
	font-size: 28px;
	color: salmon;
	height: 35px;
	margin-top: 21px;
	font-family: "TTTtangsbudaejjigaeB";
	margin-left: 17px;
}

.loginInfo {
	float: right;
	margin-right: 120px;
	margin-top: 14px;
}


.loginInfo a {
  text-decoration: none;
  color: black;
  margin-top: 14px;
}

.login, .myPage {
  display: inline-block;
  padding: 10px 25px 10px 25px;
  margin-right: 10px;
  border-radius: 30px;
}

.login p, .myPage p  {
  color: salmon;
  font-weight: bold;
}

.login p:hover, .myPage p:hover {
  color: rgb(250, 71, 48);
  font-weight: bold;
}

.join, .logout{
  display: inline-block;
  padding: 10px 25px 10px 25px;
  background: salmon;
  border-radius: 5px;
}

.join:hover, .logout:hover {
  background-color: rgb(250, 71, 48);
}

.join p, .logout p {
  color: white;
}

.loginInfo {
	min-width: 239px;
	max-width: 700px;
	display: flex;
	align-items: center;
}

.welcome {
	font-size: 18px;
	color: rgb(70, 70, 70);
	text-align: left;
	margin-top: 12px;
	margin-left: 15px;
	margin-right: 15px;
}

.loginInfo span{
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
}





/*end: nav*/


.map_wrap, .map_wrap * {
	margin: 0;
	padding: 0;
	font-family:  "Pretendard-Regular", 'Malgun Gothic', dotum, '돋움', sans-serif;
	font-size: 12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active {
	color: #000;
	text-decoration: none;
}

.map_wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

/*end: .map_wrap*/

#menu_wrap {
	position: absolute;
	top: 130px;
	left: 0;
	bottom: 0;
	width: 350px;
	height: 850px;
	margin: 10px 0 30px 10px;
	padding: 5px;
	overflow-y: auto;
	background: rgba(255, 255, 255, 0.7);
	z-index: 1;
	font-size: 12px;
	border-radius: 10px;
}

.bg_white {
	background: #fff;
}

/*#menu_wrap hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid #5F5F5F;
	margin: 3px 0;
}*/

#menu_wrap .option {
	text-align: center;
}

#menu_wrap .option input{
	width: 330px;
	height: 45px;
	position: relative;
	border: 3px solid salmon;
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 15px;
	font-size: 18px;
	color: #3e3e3e;
	font-weight: bold;
}

#menu_wrap .option input:focus {
	outline: none;
}


#menu_wrap .option button {
	margin-left: 5px;
	position: absolute;
	top: 34px;
	right: 30px;
	background: none;
	border: none;
	cursor: pointer;
}

#menu_wrap .option i {
	font-size: 25px;
	fonr-weight: bold;
	color: salmon;
}


/*end: #menu_wrap*/

#placesList li {
	list-style: none;
	height: 150px;
}

#placesList .item {
	position: relative;
	border-bottom: 1px solid #888;
	overflow: hidden;
	cursor: pointer;
	min-height: 150px;
}

#placesList .item span {
	display: block;
	margin-top: 4px;
	font-size: 15px;
}

#placesList .item h5, #placesList .item .info {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 22px;
	padding-top: 15px;
}

#placesList .item .info {
	padding: 10px 0 10px 55px;
}

#placesList .info .gray {
	color: #8a8a8a;
}

#placesList .info .jibun {
	padding-left: 26px;
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
		no-repeat;
}

#placesList .info .tel {
	color: #009900;
}

#placesList .item .markerbg {
	float: left;
	position: absolute;
	width: 36px;
	height: 37px;
	margin: 10px 0 0 10px;
	/*background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
		no-repeat;*/
}

#placesList .item .marker_1 {
	background-position: 0 -10px;
}

#placesList .item .marker_2 {
	background-position: 0 -56px;
}

#placesList .item .marker_3 {
	background-position: 0 -102px
}

#placesList .item .marker_4 {
	background-position: 0 -148px;
}

#placesList .item .marker_5 {
	background-position: 0 -194px;
}

#placesList .item .marker_6 {
	background-position: 0 -240px;
}

#placesList .item .marker_7 {
	background-position: 0 -286px;
}

#placesList .item .marker_8 {
	background-position: 0 -332px;
}

#placesList .item .marker_9 {
	background-position: 0 -378px;
}

#placesList .item .marker_10 {
	background-position: 0 -423px;
}

#placesList .item .marker_11 {
	background-position: 0 -470px;
}

#placesList .item .marker_12 {
	background-position: 0 -516px;
}

#placesList .item .marker_13 {
	background-position: 0 -562px;
}

#placesList .item .marker_14 {
	background-position: 0 -608px;
}

#placesList .item .marker_15 {
	background-position: 0 -654px;
}

#pagination {
	margin: 10px auto;
	text-align: center;
}

#pagination a {
	display: inline-block;
	margin-right: 10px;
	font-size: 14px;
}

#pagination .on {
	font-weight: bold;
	cursor: default;
	color: salmon;
}

/*end: pagination*/

#content {
	min-width: 170px;
	max-width: 300px;
	padding: 10px;
	z-index: 1;
}

.close{
	width: 20px;
	height: 17px;
	display: block;
	float: right;	
	background-color: #dfdfdf;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 3px;	
}

.title {
	font-size:23px;
	font-weight: bold;
	white-space: nowrap;
	margin-top: 7px;
	margin-bottom: 7px;
}

.address {
	font-size: 14px;
	color: 	#333333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 3px;
}

.tel {
	font-size: 13px;
	color:#7a7a7a;
	font-style: italic;
}


.view {
	float: right;
	font-size: 15px;
	padding:5px;
	margin-bottom: 10px;
	border: none;
	color: #333333;
}

.view i {
	color: salmon;
	font-weight: bold;
	margin-left: 5px;
}
